fastapi==0.116.1
uvicorn==0.35.0
spacy>=3.8.7
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
jinja2==3.1.6
python-multipart==0.0.20
sqlalchemy==2.0.41
starlette>=0.47.0
passlib[bcrypt]>=1.7.4
itsdangerous==2.1.2
wechatpy